@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
    font-family: Roboto Slab;
}
header {
    background-color: #000000; 
    color: #ffffff; 
    text-align: center;
    padding: 1rem; 
}
nav ul {
    list-style: none; 
}

nav li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    font-weight: bold; 
    color: #ffffff; 
}
main {
    background-color: #000000;
    color: #ffffff;
}
.section1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner{
  position: relative;
}
.banner::before{
  content:"";
  background-image: url(assets/img/20180614_163937_48196114581_o.jpg);
  background-size: cover;
  position: absolute;
  background-repeat:repeat;
  background-position: center;
  opacity: 0.2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
.texto-div h1  {
  text-align: center;
  position: relative;
  padding-top: 80px;
}
.texto-div h4  {
  text-align: center;
  position: relative;
  padding-top: 80px;
}
.texto-div p  {
  text-align: center;
  position: relative;
  padding-top: 80px;
}
.texto-div h1{
  color: #ffffff;
  font-size: 60px;;
}
.texto-div h1:hover{
  transform: scale(1.15);
  letter-spacing: 5px;
}
.section2{
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 24.99%;}
.col-4 {width: 33.32%;}
.col-5 {width: 41.65%;}
.col-6 {width: 49.98%;}
.col-7 {width: 58.31%;}
.col-8 {width: 66.64%;}
.col-9 {width: 74.97%;}
.col-10 {width: 83.3%;}
.col-11 {width: 91.63%;}
.col-12 {width: 100%;}

#image {
  height: 100%;
}
.section2 img{
  height: 150px;
  object-fit: contain;
}
.section2 img:hover {
  transform: scale(1.15);
}
.section3{
  display: contents;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section3 img{
margin-left: auto;
margin-right: auto;
width: 1000px;
}

.section4 {
  padding-top: 50px;
  display: block;
  align-items: center;
  justify-content: center;
}
.section4 h1 {
  padding-top: 50px;
}
.section4 h4 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.banner2 {
  position: relative;
}
.banner2::before {
  content:"";
  background-image: url(assets/img/Logica-de-programacao-1024x683.jpg);
  background-size: cover;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center;
  opacity: 0.2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.texto-div2 h1  {
  text-align: center;
  align-items: center;
  position: relative;
}
.texto-div2 h4  {
  text-align: center;
  align-items: center;
  position: relative;
}
.texto-div2 button  {
  text-align: center;
  align-items: center;
  position: relative;
}



.texto-div2 h4{
  padding-bottom: 25px;
}
.texto-div2 button {
  font-size: large;
  width: 400px;
}
.section5 {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section6 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: contents;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section6 img{
  margin-left: auto;
  margin-right: auto;
    width: 1000px;
  }
.section6 button{
  font-size: large ;
  color: #ffffff;
}
.section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer{
  background-color: #555;
  color: #ffffff;
}
table{
  text-align: center;
  width: 1000px;

}
td {
  text-align: center;
}
tr:hover{
  background-color: #007bff;
}
thead td {
  background-color: #007bff;
  color: white;
}
table, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}


.container form {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  overflow: hidden;
}

form fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

form legend {
  font-weight: bold;
  color: #777;
}
.input-container {
    margin-bottom: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}
.radio-group label {
    display: inline;
    margin-right: 10px;
    font-weight: normal;
  }
  
  .input-check {
      display: inline-block;
      margin-right: 10px;
  }
  
  .input-check input[type="checkbox"] + label {
      display: inline-block;
      font-weight: normal;
  }
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer; 
  }
  
  button[type="reset"] {
    background-color: #6c757d;
  }

  button:hover {
    background-color: #0056b3;
  }